{% extends "base.html" %}

{% block title %}呈現課程{% endblock %}
{% block css%}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
{% endblock%}
{% block content %}
<div class='row'>
  <h1 class='page-header text-center'>尋找您要的教學資源</h1>
</div>
<div class='row' style="text-align: center"> 
  <div style="margin: 0px auto;">
      <select multiple data-js='keywords-search-sele' style="width:600px">
        {% for keyword_index in keyword_index_list %}
          <option value="{{keyword_index}}">{{keyword_index}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary" data-js="keywords-search-go">開始尋找</button>
  </div>
</div>
<div class='row'>
  <table class="table">
    <thead>
      <tr>
        <th>資源名稱</th>
        <th>所屬科目</th>
        <th>所屬年段</th>
        <th>關鍵字</th>
        <th>難易度</th>
        <th>下載次數</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td><a href="/show-course/{{course.key.id()}}">
{{course.course_name}}</a></td>
          <td>{{course.subject}}
          <td>{{course.grade_chunk}}</td>
          <td>{{keyword_str_list[loop.index0]}}</td>
          <td>{{course.difficulty}}</td>
          <td>{{avg_download_count_list[loop.index0]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% block javascript%}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script>
  function keyWordsSearchGo() {
      selectedElems = $(".select2-selection__choice");
      keywordsList = [];
      for (var i = 0; i < selectedElems.length; i++) {
        keywordsList.push(selectedElems[i]['title']);
      }
      window.location.replace("/find-course?keywords="+keywordsList.join());
  }
  $(document).ready(function() { 
    $('[data-js="keywords-search-sele"]').select2({
      placeholder:"輸入多個關鍵字"
    });
    $('[data-js="keywords-search-go"]').on('click', function() {keyWordsSearchGo();});
  });
</script>
{% endblock%}