{% extends "base.html" %}

{% block title %}呈現課程{% endblock %}
{% block css%}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
{% endblock%}
{% block content %}
<div class='row'>
  <h1 class='page-header text-center'>您所管理的課程</h1>
</div>
<div class='row'>
  <table class="table">
    <thead>
      <tr>
        <th>講義名稱</th>
        <th>科目</th>
        <th>關鍵字</th>
        <th>難易度</th>
        <th>年段</th>
        <th>下載次數</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in resources %}
        <tr>
          <td><a href="/show-resource/{{resource.key.id()}}">
{{resource.resource_name}}</a></td>
          <td>{{resource.subject}}
          <td>{{keyword_str_list[loop.index0]}}</td>
          <td>{{resource.difficulty}}</td>
          <td>{{resource.grade_chunk}}</td>
          <td>{{avg_download_count_list[loop.index0]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% block javascript%}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script>
  function keyWordsSearchGo() {
      selectedElems = $(".select2-selection__choice");
      keywordsList = [];
      for (var i = 0; i < selectedElems.length; i++) {
        keywordsList.push(selectedElems[i]['title']);
      }
      window.location.replace("/find-resource?keywords="+keywordsList.join());
  }
  $(document).ready(function() { 
    $('[data-js="keywords-search-sele"]').select2({
      placeholder:"輸入多個關鍵字"
    });
    $('[data-js="keywords-search-go"]').on('click', function() {keyWordsSearchGo();});
  });
</script>
{% endblock%}