{% extends "base.html" %}

{% block title %}呈現課程{% endblock %}
{% block css%}
<link href="/static/css/comment.css" rel="stylesheet">
<style>
.customer_upload { position: relative; overflow: hidden; } 
.customer_upload input[type=file] { position: absolute; right: 0; opacity: 0; margin: 0; padding: 0; border: none; }
.comment { margin: 30px;}
.loadImg { position:absolute;z-index:999;}
.loadImg div {display:table-cell;width:500px;height:500px;text-align:center;vertical-align:middle;}
</style>
{% endblock%}
{% block content %}
<div class="col-sm-4 col-md-3 sidebar">
  <h3 class="sub-header">{{resource.resource_name}}</h2> 
  <h4 class="sub-header">適合年段：{{resource.grade_chunk}}</h3>
  <h4 class="sub-header">所屬科目：{{resource.subject}}</h3>
  <h4 class="sub-header">資源難易度：{{resource.difficulty}}</h3>
  <h4 class="sub-header">關鍵字：{{keywords}}</h4>
  {% if is_admin %}
    <h4 style="display: inline-block" class="sub-header">資源管理員：</h4>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-admins" style="float:right">增加管理員</button>
    {{admins}}
    <!-- Button trigger modal -->

    <h4 class="sub-header">資源上架：{{resource.is_public_chinese()}}
      <form method="POST" action="" style="float:right">
        <input name="change_public_state" value="True" style="display:none">
        <input type="submit" class="btn btn-primary" value=
      "{% if resource.is_public %}不開放課程{% else %}開放課程{% endif %}">
      </form>
    </h4>

  {% endif %}
</div>
<div class="col-sm-9 col-sm-offset-4 col-md-10 col-md-offset-3 main">
  {% for content in contents %}
    <h1 class="page-header">{{content.content_name}}</h1>
    <div class="row">
      <div class="col-sm-5 col-md-6">
        <div class="loadImg" data-js="loadImg-{{loop.index}}"><div><img src="/img/loading.gif"/></div></div>
        <iframe src="https://docs.google.com/viewer?url=https://docs.google.com/document/d/{{content.related_file_id}}/export?format%3Dpdf&embedded=true" style="width:1000px; height:1400px;" frameborder="0" onload="$('[data-js=\'loadImg-{{loop.index}}\']').hide()"></iframe>
        <form method="POST" action="" enctype="multipart/form-data">
          <div class="btn-group">
            <a type="button" class="btn btn-primary" href="https://docs.google.com/feeds/download/documents/export/Export?id={{content.related_file_id}}&exportFormat=docx" data-js="content_download" data-content-id="{{content.key.id()}}">下載</a>
            {% if is_admin %}
            <div class="btn btn-success customer_upload" data-js="content_upload" type="button">上傳
              <input name="content-related-file-id" style="display: none" value="{{content.related_file_id}}">
              <input type="file" onchange="this.form.submit()" name="content_uploaded"/>
            </div>
            <!--<button type="button" class="btn btn-success"data-js="content_upload" data-content-file-id="{{content.related_file_id}}">上傳</button>
            <a type="button" class="btn btn-primary" href="https://docs.google.com/document/d/{{content.related_file_id}}/edit?usp=drive_web">線上編輯</a>-->
            {% endif %}
          </div>
        </form>
        <p style="margin-bottom: 50px">下載次數：{{content.download_count}}</p>
      </div>
    </div>
  {% endfor %}
<!-- Contenedor Principal -->
  <div class="comments-container">
    <h1>討論區</h1>

    <ul id="comments-list" class="comments-list" data-js="comments-list">
    {% for comment in comments %}
    <li>
      <div class="comment-main-level">
    <!-- Avatar -->
        <div class="comment-avatar"><img src="/img/anonymous.png" alt=""></div>
    <!-- Contenedor del Comentario -->
        <div class="comment-box">
          <div class="comment-head">
            <h6 class="comment-name">{{comment.user_nickname}}</h6>
            <span>{{comment.created_time}}</span>
            <i class="fa fa-reply"></i>
            <i class="fa fa-heart"></i>
          </div>
          <div class="comment-content">
            {{comment.comment_content}}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
    </ul>
    {% if user %} <!-- 沒有登入的人不提供留言功能 -->
      <textarea class="form-control" data-js="comment-input" rows="3"></textarea>
    {% endif %}
  </div>
</div>

<div class="modal fade" id="add-admins" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">輸入email帳號以增加管理員</h4>
        <h6>1. 只能加入已經註冊過共享平台的email帳號</h6>
        <h6>2. 以逗號(,)分隔多個email</h6>
      </div>
      <form method="POST" action="">
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder='例：test@example.com, test2@example.com, test3@example.com' id="admins-email" name="admins-email" style="width: 400px">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">新增</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% raw %}
<script data-js="comment-handlebars" type="text/x-handlebars-template">
  <li>
    <div class="comment-main-level">
  <!-- Avatar -->
      <div class="comment-avatar"><img src="/img/anonymous.png" alt=""></div>
  <!-- Contenedor del Comentario -->
      <div class="comment-box">
        <div class="comment-head">
          <h6 class="comment-name">{{user_name}}</h6>
          <span>{{created_time}}</span>
          <i class="fa fa-reply"></i>
          <i class="fa fa-heart"></i>
        </div>
        <div class="comment-content">
          {{content}}
        </div>
      </div>
    </div>
  </li>
</script>
{% endraw %}

{% endblock %}
{% block javascript%}
<script>
  $('[data-js="content_download"]').on('click', function() {
    var content_id = $(this).data('content-id');
    $.ajax({
      url: "/content-download-update",
      method: "POST",
      data: {'content-id': content_id}
    });
  }); 
  $('[data-js="content_upload"]').on('click', function() {
    $(this).children().filter("[type=file]")[0].click();
  });
  {% if user %}
    $('[data-js="comment-input"]').keydown(function(event) {
      if (event.keyCode == 13) {
        var content = this.value;
        $.ajax({
          url: "/resource-comment-update",
          method: "POST",
          data: {'user_id': "{{user.key.id()}}", 'content': content, 'resource_id': "{{resource.key.id()}}"}
        });
        var source = $('[data-js="comment-handlebars"]').html();
        var template = Handlebars.compile(source);
        var data = {user_name: "{{user.user_nickname}}", created_time:new Date(), content:content};
        var html = template(data);
        $('[data-js="comments-list"]').append(html); 
        this.value=""

      }
    });
  {% endif %}
</script>
{% endblock%}